<h2>Update</h2>
<form class="form-horizontal" name="formEditFood" ng-submit="updateFood(food)" novalidate>
    <h4>Edit a current food entry.</h4>
    <hr />
    <div class="form-group">
        <label class="col-lg-2" control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-model="food.Name" ng-maxlength="35" required />
            <span class="text-danger" ng-show="(formEditFood.name.$touched || formEditFood.name.$dirty) && formEditFood.name.$invalid">
                <span ng-show="formEditFood.name.$error.required">A name is required.</span>
                <span ng-show="formEditFood.name.$error.maxlength">The name must be 35 characters long or less.</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2" control-label">Description</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="description" ng-model="food.Description" ng-maxlength="250" required />
            <span class="text-danger" ng-show="(formEditFood.description.$touched || formEditFood.description.$dirty) && formEditFood.description.$invalid">
                <span ng-show="formEditFood.description.$error.required">A description is required.</span>
                <span ng-show="formEditFood.description.$error.maxlength">The description must not exceed 250 characters.</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-success" value="Update" ng-if="states.showUpdateButton" ng-disabled="formEditFood.$pristine || formEditFood.$invalid" />
            <a href="#/" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>